<!DOCTYPE html>

<html lang="en" style="padding-top: 80px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Web App</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>

    <style>
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        td {
            border: 1px solid grey;
            width: 100px;
            height: 100px;
            text-align: center;
            font-size: 28px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


    <main role="main">
        <div class="container">
            <table id="grid">
            </table>
        </div>
    </main>

</body>

</html>